/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* General Settings */
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
    font-size: .625rem;
}
body{
    overflow-x: hidden;
    color:white;
    font-family: 'Open Sans', sans-serif;
    /* background: white; */
    background: hsl(218, 28%, 13%);
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: white;
}
header{
    padding: 2rem 2rem 5rem 2rem;
    position: relative;
}
section{
    padding: 5rem 2rem 5rem 2rem;
}
footer{
    position: relative;
    padding: 2rem;
    padding-top: 20rem;
    background: hsl(216, 53%, 9%);
    z-index: -1;
}
.row{
    max-width: 1440px;
    margin: 0 auto;
}
.row nav{
    display: flex;
    /* padding-top: 2rem; */
    justify-content: space-between;
    align-items: center;
}
.navigation .nav-links{
    list-style: none;
}
.nav-links li{
    font-size: 1.3rem;
    display: inline-block;
    padding-right: 1.5rem;
    
}
.logo img{
    width: 10rem;
}
header{
    background: url(../fylo-dark-theme-landing-page-master/images/bg-curvy-mobile.svg);
    background-size:contain;
    background-color: hsl(217, 28%, 15%);
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.hero{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hero div img{
    width: 100%;
}
.hero div{
    width: 90%;
    margin: 0 auto;
}
.hero h1{
    font-size: 2.2rem;
    line-height: 1.7;
    text-align: center;
    padding: 2rem 4rem 2rem 4rem;
}
.hero-para{
    font-size: 1.4rem;
    text-align: center;
    padding: 0rem 4rem 2rem 4rem;
    line-height: 1.4;
}
.btn-primary{
    font-size: 1.2rem;
    /* letter-spacing: .07rem; */
    display: inline-block;
    background:linear-gradient(hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 10rem;
}
.head-curve{
    position: absolute;
    width: 100vh;
    z-index: -111;
    bottom: 0;
}
/* .head-curve{
    position: absolute;
    margin-top: -12rem;
    z-index: -111;
}
.features{
    position: relative;
} */
.features-card{
    text-align: center;
    padding: 4rem;
    margin-bottom: 3rem;
}
.features-card:last-child{
    margin-bottom: 0;
}
.features-card .icon img{
    width: 8rem;
}
.features-card .icon{
    margin-bottom: 2rem;
}
.features-head,.productivity-head{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.features-details,.productivity-para{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.productivity-img img{
    width: 100%;
}
.productivity-img{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.productivity-para{
    margin-top: 2rem;
}
.productivity-para span{
    display: block;
    margin-top: 2rem;
}
.btn-secondary{
    position: relative;
    font-size: 1.2rem;
    margin-right: 1rem;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding-bottom: .5rem;
    padding-right: 2.4rem;
    color: hsl(176, 68%, 64%);
    display: inline-block;
}
.btn-logo{
    position: absolute;
    display: inline-block;
    bottom: .5rem;
    margin: 0;
    margin-left: 1rem;
    height: 1.4rem;
}
.customer-review{
    position: relative;
}
.quote-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
}
.quote-img img{
    width: 100%;
}
.customer-review{
    width: 30rem;
    margin: 0 auto;
    margin-top: 3rem;
}
.review-card{
    /* width: 30rem;
    margin: 0 auto; */
    background: hsl(217, 28%, 15%);
    padding: 3rem 2rem;
    margin-bottom: 2rem;
}
.review{
    margin-bottom: 2rem;
}
.reviewer{
    display: flex;
    align-items: center;
}
.profile-img{
    width: 3rem;
    margin-right: 1.5rem;
}
.profile-img img{
    -webkit-border-radius: 2rem; 
    -moz-border-radius: 2rem; 
    border-radius:2rem;
    width: 100%;
}
.name{
    font-size: 1.2rem;
}
.designation{
    font-size: 1rem;
}
.get-access-card {
    width: 35rem;
    background: hsl(217, 28%, 15%);
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    margin-bottom: -50%;
    z-index: 1111;
    box-shadow: 1px hsl(217, 28%, 15%);
}
.get-access-card h3{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.get-access-card p{
    margin-bottom: 2rem;
}
.subscribe input{
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    border-radius: 20rem;
    outline: none;
    border: none;
    margin-bottom: 2rem;
}
.btn-primary-2{
    width: 100%;
    margin-bottom: 2rem;
}
.footer-logo{
    padding-left: 2rem;
    width: 15rem;
}
.footer-logo img{
    width: 100%;
}
.location{
    display: flex;
    margin: 1rem 0;
}
.logo-location{
    margin-right: 1rem;
}
.contact{
    margin-left: 2rem;
    line-height: 1.7;
}
ul{
    list-style: none;
}
.sec-1,.sec-2{
    margin-top: 5rem;
    font-size:1.4rem;
    line-height: 1.8;
}
.sec-2{
    margin-bottom: 5rem;
}